@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    margin: 10px;
}

main {
    margin-bottom: 50px;
    min-height: 85vh;
}

.title {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    margin: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}


/*######################
##  Form
########################*/

form {
    width: 400px;
    margin: 20px 0;
    background-image: linear-gradient(to right top, #0e2d06, #1b380d, #294312, #384e18, #47591d);
    padding: 20px;
}

form p {
    font-weight: bold;
}

label {
    font-family: Arial;
}

input {
    padding: 7px;
    margin: 5px;
}

textarea {
    padding: 20px;
    resize: none;
}

button {
    padding: 7px;
    margin: 5px;
    background-image: linear-gradient(to right top, #a1480e, #ae4106, #bb3801, #ca2800, #d80303);
    color: white;
    width: 150px;
    border: 2px solid white;
    font-family: 'Bangers', cursive;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right top, #a1140e, #af120c, #bc0e0a, #ca0907, #d80303);
    color: orangered;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right top, #0e2d06, #1b380d, #294312, #384e18, #47591d);
}

.modal .close {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: .8em;
}

/*######################
##  Navigation
########################*/

nav {
    height: 70px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #0e2d06, #1b380d, #294312, #384e18, #47591d);
    width: 800px;
    padding: 20px;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    margin-bottom: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    align-items: center;
}

a {
    padding: 10px;
    color: white;
    background-image: linear-gradient(to right top, #0e2d06, #1b380d, #294312, #384e18, #47591d);
    text-decoration: none;
    /*margin: 30px;*/
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Bangers', cursive;
}

a:hover {
    color: black;
}


/*######################
##  Index Page
########################*/

#pizza-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
}

#pizza-grid-container .data-item {
    display: flex;
    width: 700px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
}

#pizza-grid-container img:hover {
    transform: scale(1.1);
}

/*######################
##  Main Page
########################*/
.img-top img {
    filter: hue-rotate(-7deg);
    /*background-size: cover;*/
    background-position: center;
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 0;
}

.services {
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
}

.coaches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*.services .coaches {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*    max-width: 800px;*/
/*}*/

.coach {
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    height: 380px;
}

.coach .coach-img-container {
    height: 40%;
}

.coach .coach-info-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    height: 60%;
}

.coach h2 {
    font-size: 20px;
    margin: 0;
    padding: 10px 0 10px;
}

.coach p {
    font-size: 16px;
    margin: 0;
}

.coach .coach-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.map {
    height: 300px;
    width: 100%;
}

.map iframe {
    border: none;
    width: 100%;
    height: 300px;
}